//====================================================================================================
.hello {
   padding: 38px 0px 70px 0px;
   @media (max-width: $md1+px) {
      padding: 0px 0px 70px 0px;
   }
   @media (max-width: $md3+px) {
      padding: 0px 0px 60px 0px;
   }
   &__container {
      display: flex;
      @media (max-width: $md3+px) {
         text-align: center;
         flex-direction: column-reverse;
      }
   }

   &__content {
      align-items: flex-start;
      flex: 1 1 auto;
      margin: 18px 115px 0px 0px;
      @media (max-width: $md1+px) {
         margin: 18px 50px 0px 0px;
      }
      @media (max-width: $md3+px) {
         margin: 0px 0px 0px 0px;
      }
      @media (max-width: $md3+px) {
         *:last-child {
            margin-bottom: 0;
         }
      }
   }

   &__title {
      margin: 0px 0px 30px 0px;
      @media (max-width: $md3+px) {
         margin: 0px 0px 20px 0px;
      }
   }

   &__text {
      margin: 0px 0px 35px 0px;
      @media (max-width: $md3+px) {
         margin: 0px 0px 25px 0px;
         padding: 0px 6px;
      }
   }

   &__btn {
      margin: 0px 0px 35px 0px;
      @media (max-width: $md3+px) {
         margin: 0px 0px 25px 0px;
      }
   }

   &__avatar {
      flex: 0 0 243px;
      height: 243px;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: -5px 13px 0 0 #edf7fa;
      img {
         max-width: 100%;
      }
      @media (max-width: $md3+px) {
         flex: 0 0 170px;
         height: 170px;
         margin: 0px 0px 40px 0px;
      }
   }
}
//====================================================================================================

.recent-posts {
   padding: 25px 0px 16px 0px;
   background-color: #edf7fa;
   @media (max-width: $md3+px) {
      padding: 25px 0px 22px 0px;
   }
   &__container {
   }

   &__header {
      margin: 0px 0px 15px 0px;
      display: flex;
      @media (max-width: $md3+px) {
         margin: 0px 0px 20px 0px;
      }
   }

   &__title {
      padding: 0px 20px 0px 0px;
      flex: 1 1 auto;
      @media (max-width: $md3+px) {
         padding: 0px 0px 0px 0px;
      }
   }

   &__view-all {
      font-size: 16px;
      color: #00a8cc;
      line-height: 23px;
      flex: 0 0 auto;
      @media (max-width: $md3+px) {
         display: none;
      }
   }

   &__items {
      margin: 0px -10px;
      @media (min-width: $md3+px) {
         display: flex;
      }
   }

   &__column {
      flex: 0 1 50%;
      padding: 0px 10px;
      margin: 0px 0px 16px 0px;
      @media (max-width: $md3+px) {
         padding: 0px 2px;
      }
   }

   &__item {
   }
}
.recent-post {
   height: 100%;
   padding: 24px;
   background-color: #fff;
   box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
   border-radius: 4px;
   @media (max-width: $md3+px) {
      padding: 10px 20px 20px 20px;
   }
   &__title {
      display: inline-block;
      font-weight: 700;
      font-size: 26px;
      line-height: 38 / 26 * 100%;
      margin: 0px 0px 20px 0px;
      color: inherit;
      transition: color 0.3s ease 0s;
      @media (min-width: $md2+px) {
         &:hover {
            color: #ff6464;
         }
      }
      @media (max-width: $md3+px) {
         margin: 0px 0px 10px 0px;
         font-size: 22px;
      }
   }

   &__info {
      font-size: 18px;
      line-height: 26 / 18 * 100%;
      margin: 0px 0px 15px 0px;
      span {
         margin: 0px 26px;
         @media (max-width: $md2+px) {
            margin: 0px 10px;
         }
      }
      @media (max-width: $md3+px) {
         font-size: 16px;
      }
   }

   &__text {
      flex: 1 1 auto;
   }
}

//========================================================================================================================================================

.featured-works {
   padding: 30px 0px 80px 0;
   @media (max-width: $md3+px) {
      padding: 20px 0px 50px 0px;
   }
   &__container {
   }

   &__title {
   }

   &__items {
      @media (max-width: $md3+px) {
         display: flex;
         overflow: auto;
         .works__item {
            flex: 0 0 90%;
            margin: 0px 18px 0px 0px;
         }
      }
   }
}

.works {
   &__item {
      padding: 30px 0 17px 0px;
      border-bottom: 1px solid #e0e0e0;
      @media (min-width: $md3+px) {
         padding: 35px 0;
         display: flex;
         align-items: flex-start;
      }
   }

   &__image {
      flex: 0 0 246px;
      display: block;
      min-height: 180px;
      border-radius: 6px;
      overflow: hidden;
      @media (max-width: $md3+px) {
         margin: 0px 0px 17px 0px;
         padding: 0px 0px 67.85% 0px;
      }
   }

   &__body {
      flex: 1 1 auto;
      padding: 0px 0px 0px 18px;
      @media (max-width: $md3+px) {
         padding: 0;
      }
   }

   &__title {
      display: inline-flex;
      margin: 0px 0px 16px 0px;
   }

   &__info {
      margin: 0px 0px 16px 0px;
   }

   &__year {
   }

   &__category {
      margin: 0px 0px 0px 26px;
      @media (max-width: $md3+px) {
         margin: 0px 0px 0px 22px;
      }
   }

   &__text {
   }
}
