.article {
    &__container {
        max-width: rem(681);
    }

    &__title {
        font-weight: 700;
        font-size: rem(34);
        line-height: math.div(50, 34);
        @include adaptiveValue("margin-bottom", 30, 20, 892, 767.98, 1);
    }

    &__info {
        display: flex;
    }

    &__year {
        background-color: $secondary_01;
    }

    &__categories {
        margin-left: rem(15);
    }

    &__body {
        margin-top: rem(20);
        h1 {
            margin: rem(15) 0px;
            font-weight: 500;
            font-size: rem(30);
        }
        h2 {
            font-size: rem(24);
            margin: rem(15) 0px;
            font-weight: 500;
        }
        p {
            margin-bottom: rem(20);
        }
        img {
            margin-bottom: rem(25);
            max-width: 100%;
        }
    }
}
