.blog {
    &__container {
    }
    &__content {
        padding-top: rem(20);
        padding-bottom: rem(50);
    }

    &__subtitle {
        display: inline-block;
        margin-bottom: rem(10);
    }

    &__items {
    }

    &__item {
        padding: rem(30) 0px;
        border-bottom: rem(1) solid $light_02;
        @media (max-width: $mobile) {
            padding: rem(18) 0px;
        }
    }

    &__info {
        @include adaptiveValue("font-size", 20, 16, 892, 767.98, 1);
        margin-bottom: rem(10);
        .divide {
            display: inline-flex;
            margin: 0px rem(20);
            @media (max-width: $tablet) {
                margin: 0px rem(15);
            }
        }
        span {
            &:not(:last-child) {
                &::after {
                    content: ",";
                    margin-right: rem(5);
                }
            }
        }
    }

    &__text {
    }
}
