.title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60 / 44 * 100%;
    @media (max-width: $md3+px) {
        font-size: 32px;
    }
    &_sm {
        font-size: 34px;
        line-height: 50 / 34 * 100%;
    }
}
.text {
    font-size: 16px;
    line-height: 23 / 16 * 100%;
}
.title-posts {
    font-size: 22px;
    @media (max-width: $md3+px) {
        text-align: center;
        font-size: 18px;
    }
}

.work-title {
    font-weight: 700;
    font-size: 30px;
    color: inherit;
    line-height: 44 / 30 * 100%;
    transition: color 0.3s ease 0s;
    @media (max-width: $md3+px) {
        font-size: 24px;
    }
    @media (min-width: $md2+px) {
        &:hover {
            color: #ff6464;
        }
    }
    &_m {
        font-weight: 500;
    }
}
.year {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #142850;
    padding: 2px 10px 0 10px;
    height: 25px;
    border-radius: 16px;
    font-weight: 900;
    font-size: 18px;
    color: #fff;
    transition: all 0.3s ease 0s;
    @media (min-width: $md2+px) {
        &:hover {
            background-color: #ff7c7c;
        }
    }
}

.category {
    font-size: 20px;
    line-height: 29 / 20 * 100%;
    color: #8695a4;
    transition: all 0.3s ease 0s;
    @media (max-width: $md3+px) {
        font-size: 16px;
    }
    @media (min-width: $md2+px) {
        &:hover {
            color: inherit;
        }
    }
}
