.footer {
    padding: 50px 0px;
    text-align: center;
    &__content {
    }

    &__social {
    }

    &__copy {
        font-size: 14px;
    }
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
        font-size: 30px;
        color: inherit;
        margin: 0px 17px 25px 17px;
        transition: all 0.3s ease 0s;
        &:last-child {
            margin: 0px 17px 25px 17px;
        }
        @media (min-width: $md2+px) {
            &:hover {
                color: #ff6464;
            }
        }
    }
}
