.footer {
    padding: rem(50) 0px;
    text-align: center;
    &__content {
    }

    &__social {
    }

    &__copy {
        font-size: rem(14);
    }
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
        font-size: rem(30);
        color: inherit;
        margin: 0px rem(17) rem(25) rem(17);
        transition: all 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                transform: translate(0px, rem(-10));
            }
        }
    }
}
