//====================================================================================================
.hello {
    @media (min-width: $pc) {
        padding-top: rem(40);
    }
    @include adaptiveValue("padding-bottom", 70, 60, 892, 767.98, 1);
    &__container {
        display: flex;
        @media (max-width: $mobile) {
            text-align: center;
            flex-direction: column-reverse;
        }
    }

    &__content {
        align-items: flex-start;
        flex: 1 1 auto;
        margin: rem(18) rem(115) 0px 0px;
        @media (max-width: $pc) {
            margin-right: rem(50);
        }
        @media (max-width: $mobile) {
            margin: 0;
        }
    }

    &__title {
        @include adaptiveValue("margin-bottom", 30, 20, 892, 767.98, 1);
    }

    &__text {
        @include adaptiveValue("margin-bottom", 35, 25, 892, 767.98, 1);
        @media (max-width: $mobile) {
            padding: 0px rem(6);
        }
    }

    &__btn {
        @include adaptiveValue("margin-bottom", 35, 25, 892, 767.98, 1);
    }

    &__avatar-ibg {
        flex: 0 0 rem(245);
        height: rem(245);
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: rem(-5) rem(13) 0 0 $light_01;
        img {
            max-width: 100%;
        }
        @media (max-width: $mobile) {
            flex: 0 0 rem(200);
            width: rem(200);
            margin: 0px auto;
            margin-bottom: rem(40);
        }
    }
}
//====================================================================================================

.recent-posts {
    padding-top: rem(25);
    @include adaptiveValue("padding-bottom", 32, 40, 892, 767.98, 1);
    background-color: $primary_03;
    &__container {
    }

    &__header {
        @include adaptiveValue("margin-bottom", 15, 20, 892, 767.98, 1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        text-align: left;
        @media (min-width: $mobile) {
            padding-right: rem(20);
        }
    }

    &__view-all {
        font-size: rem(16);
        line-height: math.div(23, 16);
        color: $primary_01;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $primary_02;
            }
        }
    }

    &__items {
        display: grid;
        gap: rem(20);
        @media (min-width: $mobile) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
    }
}

.recent-post {
    height: 100%;
    padding: rem(24);
    background-color: $white;
    box-shadow: 0px rem(4) rem(10) rgba(187, 225, 250, 0.25);
    border-radius: rem(4);
    @media (max-width: $mobile) {
        padding: rem(10) rem(20) rem(20) rem(20);
    }
    &__title {
        display: inline-block;
        font-weight: 700;
        @include adaptiveValue("font-size", 26, 22, 892, 767.98, 1);
        line-height: math.div(38, 26);
        @include adaptiveValue("margin-bottom", 26, 10, 892, 767.98, 1);
        color: inherit;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $secondary_02;
            }
        }
    }

    &__info {
        @include adaptiveValue("font-size", 18, 16, 892, 767.98, 1);
        line-height: math.div(26, 18);
        margin-bottom: rem(15);
        .divide {
            display: inline-flex;
            margin: 0px rem(26);
            @media (max-width: $tablet) {
                margin: 0px rem(10);
            }
        }
        span {
            &:not(:last-child) {
                &::after {
                    content: ",";
                    margin-right: rem(5);
                }
            }
        }
    }

    &__text {
        flex: 1 1 auto;
    }
}

//========================================================================================================================================================

.featured-works {
    @include adaptiveValue("padding-top", 30, 20, 892, 767.98, 1);
    @include adaptiveValue("padding-bottom", 50, 80, 892, 767.98, 1);
    &__container {
    }

    &__title {
    }

    &__items {
        @media (max-width: $mobile) {
            display: flex;
            overflow: auto;
            .works__item {
                flex: 0 0 90%;
                margin-right: rem(18);
            }
        }
    }
}

.works {
    &__item {
        padding: rem(30) 0 rem(17) 0px;
        border-bottom: rem(1) solid $light_02;
        @media (min-width: $mobile) {
            padding: rem(35) 0;
            display: flex;
            align-items: flex-start;
        }
    }

    &__image-ibg {
        flex: 0 0 rem(246);
        display: block;
        min-height: rem(180);
        border-radius: rem(6);
        overflow: hidden;
        @media (max-width: $mobile) {
            margin-bottom: rem(17);
            padding-bottom: 67.85%;
        }
    }

    &__body {
        flex: 1 1 auto;
        @media (min-width: $mobile) {
            padding-left: rem(18);
        }
    }

    &__title {
        display: inline-flex;
        margin-bottom: rem(16);
    }

    &__info {
        display: flex;
        align-items: center;
        margin-bottom: rem(16);
        span {
            &:not(:last-child) {
                &::after {
                    content: ",";
                    margin-right: rem(5);
                }
            }
        }
    }

    &__year {
    }

    &__category {
        @include adaptiveValue("margin-left", 26, 22, 892, 767.98, 1);
    }

    &__text {
    }
}
